df-Team10/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "df-Team10"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
		},
		"AzureSqlDatabase6_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabase6'"
		},
		"CosmosDbNoSql2_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'CosmosDbNoSql2'"
		},
		"SqlServer2_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServer2'"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://ds310project10.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Copy Source Tables to Parquets')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy SQL Country",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CountryCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CountryCode",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Latitude",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 5,
											"precision": 10
										},
										"sink": {
											"name": "Latitude",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "Longitude",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 5,
											"precision": 10
										},
										"sink": {
											"name": "Longitude",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SQL_Country_Table",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQL_Country_PQ",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy SQL Metrics",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy SQL Country",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "Confirmed",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Confirmed",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "Confirmed_Change",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Confirmed_Change",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "Deaths",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Deaths",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "Deaths_Change",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Deaths_Change",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "Recovered",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Recovered",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "Recovered_Change",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Recovered_Change",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "Latitude",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 5,
											"precision": 10
										},
										"sink": {
											"name": "Latitude",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "Longitude",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 5,
											"precision": 10
										},
										"sink": {
											"name": "Longitude",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "ISO2",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ISO2",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "ISO3",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ISO3",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Country_Region",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Country_Region",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "load_time",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "load_time",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SQL_Metrics_Table",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQL_Metrics_PQ",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy SQL Dates",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy SQL Metrics",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "DateKey",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "DateKey",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "FullDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "FullDate",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "isWeekDay",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "isWeekDay",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "DayOfWeek",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "DayOfWeek",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "DayOfMonth",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "DayOfMonth",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "DayOfQuarter",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "DayOfQuarter",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "DayOfYear",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "DayOfYear",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "DayName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DayName",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "WeekOfYear",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "WeekOfYear",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "WeekName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "WeekName",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "MonthOfYear",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "MonthOfYear",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "MonthName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MonthName",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CalendarQuarter",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "CalendarQuarter",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "CalendarQuarterName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CalendarQuarterName",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CalendarYear",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "CalendarYear",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "FiscalMonth",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "FiscalMonth",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "FiscalMonthName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "FiscalMonthName",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "FiscalQuarter",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "FiscalQuarter",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "FiscalQuarterName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "FiscalQuarterName",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "FiscalYear",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "FiscalYear",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SQL_Date_Table",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQL_Dates_PQ",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Cosmos Policy",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CosmosDbSqlApiSource",
								"preferredRegions": []
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['CountryName']"
										},
										"sink": {
											"name": "CountryName"
										}
									},
									{
										"source": {
											"path": "$['Jurisdiction']"
										},
										"sink": {
											"name": "Jurisdiction"
										}
									},
									{
										"source": {
											"path": "$['Date']"
										},
										"sink": {
											"name": "Date"
										}
									},
									{
										"source": {
											"path": "$['C1_School closing']"
										},
										"sink": {
											"name": "C1_School closing"
										}
									},
									{
										"source": {
											"path": "$['C1_Flag']"
										},
										"sink": {
											"name": "C1_Flag"
										}
									},
									{
										"source": {
											"path": "$['C2_Workplace closing']"
										},
										"sink": {
											"name": "C2_Workplace closing"
										}
									},
									{
										"source": {
											"path": "$['C2_Flag']"
										},
										"sink": {
											"name": "C2_Flag"
										}
									},
									{
										"source": {
											"path": "$['C3_Cancel public events']"
										},
										"sink": {
											"name": "C3_Cancel public events"
										}
									},
									{
										"source": {
											"path": "$['C3_Flag']"
										},
										"sink": {
											"name": "C3_Flag"
										}
									},
									{
										"source": {
											"path": "$['C4_Restrictions on gatherings']"
										},
										"sink": {
											"name": "C4_Restrictions on gatherings"
										}
									},
									{
										"source": {
											"path": "$['C4_Flag']"
										},
										"sink": {
											"name": "C4_Flag"
										}
									},
									{
										"source": {
											"path": "$['C5_Close public transport']"
										},
										"sink": {
											"name": "C5_Close public transport"
										}
									},
									{
										"source": {
											"path": "$['C5_Flag']"
										},
										"sink": {
											"name": "C5_Flag"
										}
									},
									{
										"source": {
											"path": "$['C6_Stay at home requirements']"
										},
										"sink": {
											"name": "C6_Stay at home requirements"
										}
									},
									{
										"source": {
											"path": "$['C6_Flag']"
										},
										"sink": {
											"name": "C6_Flag"
										}
									},
									{
										"source": {
											"path": "$['C7_Restrictions on internal movement']"
										},
										"sink": {
											"name": "C7_Restrictions on internal movement"
										}
									},
									{
										"source": {
											"path": "$['C7_Flag']"
										},
										"sink": {
											"name": "C7_Flag"
										}
									},
									{
										"source": {
											"path": "$['C8_International travel controls']"
										},
										"sink": {
											"name": "C8_International travel controls"
										}
									},
									{
										"source": {
											"path": "$['E1_Income support']"
										},
										"sink": {
											"name": "E1_Income support"
										}
									},
									{
										"source": {
											"path": "$['E1_Flag']"
										},
										"sink": {
											"name": "E1_Flag"
										}
									},
									{
										"source": {
											"path": "$['E2_Debt contract relief']"
										},
										"sink": {
											"name": "E2_Debt contract relief"
										}
									},
									{
										"source": {
											"path": "$['E3_Fiscal measures']"
										},
										"sink": {
											"name": "E3_Fiscal measures"
										}
									},
									{
										"source": {
											"path": "$['E4_International support']"
										},
										"sink": {
											"name": "E4_International support"
										}
									},
									{
										"source": {
											"path": "$['H1_Public information campaigns']"
										},
										"sink": {
											"name": "H1_Public information campaigns"
										}
									},
									{
										"source": {
											"path": "$['H1_Flag']"
										},
										"sink": {
											"name": "H1_Flag"
										}
									},
									{
										"source": {
											"path": "$['H2_Testing policy']"
										},
										"sink": {
											"name": "H2_Testing policy"
										}
									},
									{
										"source": {
											"path": "$['H3_Contact tracing']"
										},
										"sink": {
											"name": "H3_Contact tracing"
										}
									},
									{
										"source": {
											"path": "$['H4_Emergency_investment_in_healthcare']"
										},
										"sink": {
											"name": "H4_Emergency_investment_in_healthcare"
										}
									},
									{
										"source": {
											"path": "$['H5_Investment_in_vaccines']"
										},
										"sink": {
											"name": "H5_Investment_in_vaccines"
										}
									},
									{
										"source": {
											"path": "$['H6_Facial_Coverings']"
										},
										"sink": {
											"name": "H6_Facial_Coverings"
										}
									},
									{
										"source": {
											"path": "$['H6_Flag']"
										},
										"sink": {
											"name": "H6_Flag"
										}
									},
									{
										"source": {
											"path": "$['H7_Vaccination policy']"
										},
										"sink": {
											"name": "H7_Vaccination policy"
										}
									},
									{
										"source": {
											"path": "$['H7_Flag']"
										},
										"sink": {
											"name": "H7_Flag"
										}
									},
									{
										"source": {
											"path": "$['H8_Protection of elderly people']"
										},
										"sink": {
											"name": "H8_Protection of elderly people"
										}
									},
									{
										"source": {
											"path": "$['H8_Flag']"
										},
										"sink": {
											"name": "H8_Flag"
										}
									},
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "id"
										}
									}
								],
								"collectionReference": ""
							}
						},
						"inputs": [
							{
								"referenceName": "Cosmos_Policy_Table",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Cosmos_Policy_PQ",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy VM Metrics",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "Confirmed",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Confirmed",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "Confirmed_Change",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Confirmed_Change",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "Deaths",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Deaths",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "Deaths_Change",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Deaths_Change",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "Recovered",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Recovered",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "Recovered_Change",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Recovered_Change",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "Latitude",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 5,
											"precision": 10
										},
										"sink": {
											"name": "Latitude",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "Longitude",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 5,
											"precision": 10
										},
										"sink": {
											"name": "Longitude",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "ISO2",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ISO2",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "ISO3",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ISO3",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Country_Region",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Country_Region",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "load_time",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "load_time",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "VM_Metrics_Table",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "VM_Metrics_PQ",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy VM Country",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy VM Metrics",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CountryCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CountryCode",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Latitude",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 5,
											"precision": 10
										},
										"sink": {
											"name": "Latitude",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "Longitude",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 5,
											"precision": 10
										},
										"sink": {
											"name": "Longitude",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "VM_Country_Table",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "VM_Country_PQ",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy VM Dates",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy VM Country",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "DateKey",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "DateKey",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "FullDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "FullDate",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "isWeekDay",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "isWeekDay",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "DayOfWeek",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "DayOfWeek",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "DayOfMonth",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "DayOfMonth",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "DayOfQuarter",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "DayOfQuarter",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "DayOfYear",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "DayOfYear",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "DayName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DayName",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "WeekOfYear",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "WeekOfYear",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "WeekName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "WeekName",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "MonthOfYear",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "MonthOfYear",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "MonthName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MonthName",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CalendarQuarter",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "CalendarQuarter",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "CalendarQuarterName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CalendarQuarterName",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CalendarYear",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "CalendarYear",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "FiscalMonth",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "FiscalMonth",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "FiscalMonthName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "FiscalMonthName",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "FiscalQuarter",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "FiscalQuarter",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "FiscalQuarterName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "FiscalQuarterName",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "FiscalYear",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "FiscalYear",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "VM_Date_Table",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "VM_Dates_PQ",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-11-09T18:35:52Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SQL_Country_Table')]",
				"[concat(variables('factoryId'), '/datasets/SQL_Country_PQ')]",
				"[concat(variables('factoryId'), '/datasets/SQL_Metrics_Table')]",
				"[concat(variables('factoryId'), '/datasets/SQL_Metrics_PQ')]",
				"[concat(variables('factoryId'), '/datasets/SQL_Date_Table')]",
				"[concat(variables('factoryId'), '/datasets/SQL_Dates_PQ')]",
				"[concat(variables('factoryId'), '/datasets/Cosmos_Policy_Table')]",
				"[concat(variables('factoryId'), '/datasets/Cosmos_Policy_PQ')]",
				"[concat(variables('factoryId'), '/datasets/VM_Metrics_Table')]",
				"[concat(variables('factoryId'), '/datasets/VM_Metrics_PQ')]",
				"[concat(variables('factoryId'), '/datasets/VM_Country_Table')]",
				"[concat(variables('factoryId'), '/datasets/VM_Country_PQ')]",
				"[concat(variables('factoryId'), '/datasets/VM_Date_Table')]",
				"[concat(variables('factoryId'), '/datasets/VM_Dates_PQ')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy Source Tables to Parquets_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Cosmos Policy",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CosmosDbSqlApiSource",
								"preferredRegions": []
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['CountryName']"
										},
										"sink": {
											"name": "CountryName"
										}
									},
									{
										"source": {
											"path": "$['Jurisdiction']"
										},
										"sink": {
											"name": "Jurisdiction"
										}
									},
									{
										"source": {
											"path": "$['Date']"
										},
										"sink": {
											"name": "Date"
										}
									},
									{
										"source": {
											"path": "$['C1_School closing']"
										},
										"sink": {
											"name": "C1_School closing"
										}
									},
									{
										"source": {
											"path": "$['C1_Flag']"
										},
										"sink": {
											"name": "C1_Flag"
										}
									},
									{
										"source": {
											"path": "$['C2_Workplace closing']"
										},
										"sink": {
											"name": "C2_Workplace closing"
										}
									},
									{
										"source": {
											"path": "$['C2_Flag']"
										},
										"sink": {
											"name": "C2_Flag"
										}
									},
									{
										"source": {
											"path": "$['C3_Cancel public events']"
										},
										"sink": {
											"name": "C3_Cancel public events"
										}
									},
									{
										"source": {
											"path": "$['C3_Flag']"
										},
										"sink": {
											"name": "C3_Flag"
										}
									},
									{
										"source": {
											"path": "$['C4_Restrictions on gatherings']"
										},
										"sink": {
											"name": "C4_Restrictions on gatherings"
										}
									},
									{
										"source": {
											"path": "$['C4_Flag']"
										},
										"sink": {
											"name": "C4_Flag"
										}
									},
									{
										"source": {
											"path": "$['C5_Close public transport']"
										},
										"sink": {
											"name": "C5_Close public transport"
										}
									},
									{
										"source": {
											"path": "$['C5_Flag']"
										},
										"sink": {
											"name": "C5_Flag"
										}
									},
									{
										"source": {
											"path": "$['C6_Stay at home requirements']"
										},
										"sink": {
											"name": "C6_Stay at home requirements"
										}
									},
									{
										"source": {
											"path": "$['C6_Flag']"
										},
										"sink": {
											"name": "C6_Flag"
										}
									},
									{
										"source": {
											"path": "$['C7_Restrictions on internal movement']"
										},
										"sink": {
											"name": "C7_Restrictions on internal movement"
										}
									},
									{
										"source": {
											"path": "$['C7_Flag']"
										},
										"sink": {
											"name": "C7_Flag"
										}
									},
									{
										"source": {
											"path": "$['C8_International travel controls']"
										},
										"sink": {
											"name": "C8_International travel controls"
										}
									},
									{
										"source": {
											"path": "$['E1_Income support']"
										},
										"sink": {
											"name": "E1_Income support"
										}
									},
									{
										"source": {
											"path": "$['E1_Flag']"
										},
										"sink": {
											"name": "E1_Flag"
										}
									},
									{
										"source": {
											"path": "$['E2_Debt contract relief']"
										},
										"sink": {
											"name": "E2_Debt contract relief"
										}
									},
									{
										"source": {
											"path": "$['E3_Fiscal measures']"
										},
										"sink": {
											"name": "E3_Fiscal measures"
										}
									},
									{
										"source": {
											"path": "$['E4_International support']"
										},
										"sink": {
											"name": "E4_International support"
										}
									},
									{
										"source": {
											"path": "$['H1_Public information campaigns']"
										},
										"sink": {
											"name": "H1_Public information campaigns"
										}
									},
									{
										"source": {
											"path": "$['H1_Flag']"
										},
										"sink": {
											"name": "H1_Flag"
										}
									},
									{
										"source": {
											"path": "$['H2_Testing policy']"
										},
										"sink": {
											"name": "H2_Testing policy"
										}
									},
									{
										"source": {
											"path": "$['H3_Contact tracing']"
										},
										"sink": {
											"name": "H3_Contact tracing"
										}
									},
									{
										"source": {
											"path": "$['H4_Emergency_investment_in_healthcare']"
										},
										"sink": {
											"name": "H4_Emergency_investment_in_healthcare"
										}
									},
									{
										"source": {
											"path": "$['H5_Investment_in_vaccines']"
										},
										"sink": {
											"name": "H5_Investment_in_vaccines"
										}
									},
									{
										"source": {
											"path": "$['H6_Facial_Coverings']"
										},
										"sink": {
											"name": "H6_Facial_Coverings"
										}
									},
									{
										"source": {
											"path": "$['H6_Flag']"
										},
										"sink": {
											"name": "H6_Flag"
										}
									},
									{
										"source": {
											"path": "$['H7_Vaccination policy']"
										},
										"sink": {
											"name": "H7_Vaccination policy"
										}
									},
									{
										"source": {
											"path": "$['H7_Flag']"
										},
										"sink": {
											"name": "H7_Flag"
										}
									},
									{
										"source": {
											"path": "$['H8_Protection of elderly people']"
										},
										"sink": {
											"name": "H8_Protection of elderly people"
										}
									},
									{
										"source": {
											"path": "$['H8_Flag']"
										},
										"sink": {
											"name": "H8_Flag"
										}
									},
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "id"
										}
									}
								],
								"collectionReference": ""
							}
						},
						"inputs": [
							{
								"referenceName": "Cosmos_Policy_Table",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Cosmos_Policy_PQ",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-11-09T18:35:52Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Cosmos_Policy_Table')]",
				"[concat(variables('factoryId'), '/datasets/Cosmos_Policy_PQ')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquets to ODS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Cases",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Cases Data Flow",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"sqlMetricsPQ": {},
									"vmMetricsPQ": {},
									"Cases": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Dates",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Cases",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Dates Data Flow",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"sqlDatesPQ": {},
									"vmDatesPQ": {},
									"Dates": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Deaths",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Cases",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Deaths Data Flow",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"sqlMetricsPQ": {},
									"vmMetricsPQ": {},
									"Deaths": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Policies",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Cases",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Policy Data Flow",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"policyCosmos": {},
									"Policies": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Recoveries",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Cases",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Recovery Data Flow",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"sqlMetricsPQ": {},
									"vmMetricsPQ": {},
									"Recoveries": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Geography",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Cases",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Geography Data Flow",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"sqlCountryPQ": {},
									"vmCountryPQ": {},
									"Geography": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Population",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Cases",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Population Data Flow",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"sqlCountryPQ": {},
									"vmCountryPQ": {},
									"PopulationData": {},
									"Population": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Cases Data Flow')]",
				"[concat(variables('factoryId'), '/dataflows/Dates Data Flow')]",
				"[concat(variables('factoryId'), '/dataflows/Deaths Data Flow')]",
				"[concat(variables('factoryId'), '/dataflows/Policy Data Flow')]",
				"[concat(variables('factoryId'), '/dataflows/Recovery Data Flow')]",
				"[concat(variables('factoryId'), '/dataflows/Geography Data Flow')]",
				"[concat(variables('factoryId'), '/dataflows/Population Data Flow')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Cosmos_Policy_PQ')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Sink_Parquet_Data"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "cosmos_policy.parquet",
						"fileSystem": "nosql-database"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Cosmos_Policy_Table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CosmosDbNoSql2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Source_Data"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {
					"type": "object",
					"properties": {
						"CountryName": {
							"type": "string"
						},
						"CountryCode": {
							"type": "string"
						},
						"RegionName": {
							"type": "null"
						},
						"RegionCode": {
							"type": "null"
						},
						"Jurisdiction": {
							"type": "string"
						},
						"Date": {
							"type": "string"
						},
						"C1_School closing": {
							"type": "integer"
						},
						"C1_Flag": {
							"type": "integer"
						},
						"C2_Workplace closing": {
							"type": "integer"
						},
						"C2_Flag": {
							"type": "integer"
						},
						"C3_Cancel public events": {
							"type": "integer"
						},
						"C3_Flag": {
							"type": "integer"
						},
						"C4_Restrictions on gatherings": {
							"type": "integer"
						},
						"C4_Flag": {
							"type": "integer"
						},
						"C5_Close public transport": {
							"type": "integer"
						},
						"C5_Flag": {
							"type": "integer"
						},
						"C6_Stay at home requirements": {
							"type": "integer"
						},
						"C6_Flag": {
							"type": "integer"
						},
						"C7_Restrictions on internal movement": {
							"type": "integer"
						},
						"C7_Flag": {
							"type": "integer"
						},
						"C8_International travel controls": {
							"type": "integer"
						},
						"E1_Income support": {
							"type": "integer"
						},
						"E1_Flag": {
							"type": "integer"
						},
						"E2_Debt contract relief": {
							"type": "integer"
						},
						"E3_Fiscal measures": {
							"type": "integer"
						},
						"E4_International support": {
							"type": "integer"
						},
						"H1_Public information campaigns": {
							"type": "integer"
						},
						"H1_Flag": {
							"type": "integer"
						},
						"H2_Testing policy": {
							"type": "integer"
						},
						"H3_Contact tracing": {
							"type": "integer"
						},
						"H4_Emergency investment in healthcare": {
							"type": "integer"
						},
						"H5_Investment in vaccines": {
							"type": "integer"
						},
						"H6_Facial Coverings": {
							"type": "integer"
						},
						"H6_Flag": {
							"type": "integer"
						},
						"H7_Vaccination policy": {
							"type": "integer"
						},
						"H7_Flag": {
							"type": "integer"
						},
						"H8_Protection of elderly people": {
							"type": "integer"
						},
						"H8_Flag": {
							"type": "integer"
						},
						"M1_Wildcard": {
							"type": "integer"
						},
						"StringencyIndex": {
							"type": "integer"
						},
						"StringencyIndexForDisplay": {
							"type": "integer"
						},
						"StringencyLegacyIndex": {
							"type": "integer"
						},
						"StringencyLegacyIndexForDisplay": {
							"type": "integer"
						},
						"GovernmentResponseIndex": {
							"type": "integer"
						},
						"GovernmentResponseIndexForDisplay": {
							"type": "integer"
						},
						"ContainmentHealthIndex": {
							"type": "integer"
						},
						"ContainmentHealthIndexForDisplay": {
							"type": "integer"
						},
						"EconomicSupportIndex": {
							"type": "integer"
						},
						"EconomicSupportIndexForDisplay": {
							"type": "integer"
						}
					}
				},
				"typeProperties": {
					"collectionName": "covidpolicy"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CosmosDbNoSql2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Country_Population_Data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Source_Data"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "country_population_data.csv",
						"fileSystem": "sql-database"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Population",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ODS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ODS_Data"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "operational-data-store"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_Country_PQ')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Sink_Parquet_Data"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "sql_country.parquet",
						"fileSystem": "sql-database"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "Country",
						"type": "UTF8"
					},
					{
						"name": "CountryCode",
						"type": "UTF8"
					},
					{
						"name": "Latitude",
						"type": "DECIMAL",
						"precision": 10,
						"scale": 5
					},
					{
						"name": "Longitude",
						"type": "DECIMAL",
						"precision": 10,
						"scale": 5
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_Country_Table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase6",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Source_Data"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Country",
						"type": "varchar"
					},
					{
						"name": "CountryCode",
						"type": "varchar"
					},
					{
						"name": "Latitude",
						"type": "decimal",
						"precision": 10,
						"scale": 5
					},
					{
						"name": "Longitude",
						"type": "decimal",
						"precision": 10,
						"scale": 5
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Country"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase6')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_Date_Table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase6",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Source_Data"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "DateKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FullDate",
						"type": "date"
					},
					{
						"name": "isWeekDay",
						"type": "bit"
					},
					{
						"name": "DayOfWeek",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DayOfMonth",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DayOfQuarter",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DayOfYear",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DayName",
						"type": "varchar"
					},
					{
						"name": "WeekOfYear",
						"type": "int",
						"precision": 10
					},
					{
						"name": "WeekName",
						"type": "varchar"
					},
					{
						"name": "MonthOfYear",
						"type": "int",
						"precision": 10
					},
					{
						"name": "MonthName",
						"type": "varchar"
					},
					{
						"name": "CalendarQuarter",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CalendarQuarterName",
						"type": "varchar"
					},
					{
						"name": "CalendarYear",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FiscalMonth",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FiscalMonthName",
						"type": "varchar"
					},
					{
						"name": "FiscalQuarter",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FiscalQuarterName",
						"type": "varchar"
					},
					{
						"name": "FiscalYear",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Dates"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase6')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_Dates_PQ')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Sink_Parquet_Data"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "sql_dates.parquet",
						"fileSystem": "sql-database"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "DateKey",
						"type": "INT32"
					},
					{
						"name": "FullDate",
						"type": "DATE"
					},
					{
						"name": "isWeekDay",
						"type": "BOOLEAN"
					},
					{
						"name": "DayOfWeek",
						"type": "INT32"
					},
					{
						"name": "DayOfMonth",
						"type": "INT32"
					},
					{
						"name": "DayOfQuarter",
						"type": "INT32"
					},
					{
						"name": "DayOfYear",
						"type": "INT32"
					},
					{
						"name": "DayName",
						"type": "UTF8"
					},
					{
						"name": "WeekOfYear",
						"type": "INT32"
					},
					{
						"name": "WeekName",
						"type": "UTF8"
					},
					{
						"name": "MonthOfYear",
						"type": "INT32"
					},
					{
						"name": "MonthName",
						"type": "UTF8"
					},
					{
						"name": "CalendarQuarter",
						"type": "INT32"
					},
					{
						"name": "CalendarQuarterName",
						"type": "UTF8"
					},
					{
						"name": "CalendarYear",
						"type": "INT32"
					},
					{
						"name": "FiscalMonth",
						"type": "INT32"
					},
					{
						"name": "FiscalMonthName",
						"type": "UTF8"
					},
					{
						"name": "FiscalQuarter",
						"type": "INT32"
					},
					{
						"name": "FiscalQuarterName",
						"type": "UTF8"
					},
					{
						"name": "FiscalYear",
						"type": "INT32"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_Metrics_PQ')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Sink_Parquet_Data"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "sql_metrics.parquet",
						"fileSystem": "sql-database"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "ID",
						"type": "INT32"
					},
					{
						"name": "Updated",
						"type": "DATE"
					},
					{
						"name": "Confirmed",
						"type": "INT32"
					},
					{
						"name": "Confirmed_Change",
						"type": "INT32"
					},
					{
						"name": "Deaths",
						"type": "INT32"
					},
					{
						"name": "Deaths_Change",
						"type": "INT32"
					},
					{
						"name": "Recovered",
						"type": "INT32"
					},
					{
						"name": "Recovered_Change",
						"type": "INT32"
					},
					{
						"name": "Latitude",
						"type": "DECIMAL",
						"precision": 10,
						"scale": 5
					},
					{
						"name": "Longitude",
						"type": "DECIMAL",
						"precision": 10,
						"scale": 5
					},
					{
						"name": "ISO2",
						"type": "UTF8"
					},
					{
						"name": "ISO3",
						"type": "UTF8"
					},
					{
						"name": "Country_Region",
						"type": "UTF8"
					},
					{
						"name": "load_time",
						"type": "INT96"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_Metrics_Table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase6",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Source_Data"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Updated",
						"type": "date"
					},
					{
						"name": "Confirmed",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Confirmed_Change",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Deaths",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Deaths_Change",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Recovered",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Recovered_Change",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Latitude",
						"type": "decimal",
						"precision": 10,
						"scale": 5
					},
					{
						"name": "Longitude",
						"type": "decimal",
						"precision": 10,
						"scale": 5
					},
					{
						"name": "ISO2",
						"type": "varchar"
					},
					{
						"name": "ISO3",
						"type": "varchar"
					},
					{
						"name": "Country_Region",
						"type": "varchar"
					},
					{
						"name": "load_time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Covid19_Metrics"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase6')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VM_Country_PQ')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Sink_Parquet_Data"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "vm_country.parquet",
						"fileSystem": "vm-data"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VM_Country_Table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Source_Data"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Country",
						"type": "varchar"
					},
					{
						"name": "CountryCode",
						"type": "varchar"
					},
					{
						"name": "Latitude",
						"type": "decimal",
						"precision": 10,
						"scale": 5
					},
					{
						"name": "Longitude",
						"type": "decimal",
						"precision": 10,
						"scale": 5
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Country"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VM_Date_Table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Source_Data"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "DateKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FullDate",
						"type": "date"
					},
					{
						"name": "isWeekDay",
						"type": "bit"
					},
					{
						"name": "DayOfWeek",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DayOfMonth",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DayOfQuarter",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DayOfYear",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DayName",
						"type": "varchar"
					},
					{
						"name": "WeekOfYear",
						"type": "int",
						"precision": 10
					},
					{
						"name": "WeekName",
						"type": "varchar"
					},
					{
						"name": "MonthOfYear",
						"type": "int",
						"precision": 10
					},
					{
						"name": "MonthName",
						"type": "varchar"
					},
					{
						"name": "CalendarQuarter",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CalendarQuarterName",
						"type": "varchar"
					},
					{
						"name": "CalendarYear",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FiscalMonth",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FiscalMonthName",
						"type": "varchar"
					},
					{
						"name": "FiscalQuarter",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FiscalQuarterName",
						"type": "varchar"
					},
					{
						"name": "FiscalYear",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Dates"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VM_Dates_PQ')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Sink_Parquet_Data"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "vm_dates.parquet",
						"fileSystem": "vm-data"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VM_Metrics_PQ')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Sink_Parquet_Data"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "vm_metrics.parquet",
						"fileSystem": "vm-data"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "ID",
						"type": "INT32"
					},
					{
						"name": "Updated",
						"type": "DATE"
					},
					{
						"name": "Confirmed",
						"type": "INT32"
					},
					{
						"name": "Confirmed_Change",
						"type": "INT32"
					},
					{
						"name": "Deaths",
						"type": "INT32"
					},
					{
						"name": "Deaths_Change",
						"type": "INT32"
					},
					{
						"name": "Recovered",
						"type": "INT32"
					},
					{
						"name": "Recovered_Change",
						"type": "INT32"
					},
					{
						"name": "Latitude",
						"type": "DECIMAL",
						"precision": 10,
						"scale": 5
					},
					{
						"name": "Longitude",
						"type": "DECIMAL",
						"precision": 10,
						"scale": 5
					},
					{
						"name": "ISO2",
						"type": "UTF8"
					},
					{
						"name": "ISO3",
						"type": "UTF8"
					},
					{
						"name": "Country_Region",
						"type": "UTF8"
					},
					{
						"name": "load_time",
						"type": "INT96"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VM_Metrics_Table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Source_Data"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Updated",
						"type": "date"
					},
					{
						"name": "Confirmed",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Confirmed_Change",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Deaths",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Deaths_Change",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Recovered",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Recovered_Change",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Latitude",
						"type": "decimal",
						"precision": 10,
						"scale": 5
					},
					{
						"name": "Longitude",
						"type": "decimal",
						"precision": 10,
						"scale": 5
					},
					{
						"name": "ISO2",
						"type": "varchar"
					},
					{
						"name": "ISO3",
						"type": "varchar"
					},
					{
						"name": "Country_Region",
						"type": "varchar"
					},
					{
						"name": "load_time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Covid19_Metrics"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase6')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase6_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CosmosDbNoSql2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "CosmosDb",
				"typeProperties": {
					"connectionString": "[parameters('CosmosDbNoSql2_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServer2_connectionString')]"
				},
				"connectVia": {
					"referenceName": "SHIR-Team10",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SHIR-Team10')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SHIR-Team10')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Cases Data Flow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "SQL_Metrics_PQ",
								"type": "DatasetReference"
							},
							"name": "sqlMetricsPQ"
						},
						{
							"dataset": {
								"referenceName": "VM_Metrics_PQ",
								"type": "DatasetReference"
							},
							"name": "vmMetricsPQ",
							"description": "Metrics from VM parquet"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ODS",
								"type": "DatasetReference"
							},
							"name": "Cases"
						}
					],
					"transformations": [
						{
							"name": "unionCases",
							"description": "Combining rows from metrics sql and metrics vm"
						},
						{
							"name": "selectCases"
						},
						{
							"name": "selectDistinctRows"
						}
					],
					"scriptLines": [
						"source(output(",
						"          ID as integer,",
						"          Updated as date,",
						"          Confirmed as integer,",
						"          Confirmed_Change as integer,",
						"          Deaths as integer,",
						"          Deaths_Change as integer,",
						"          Recovered as integer,",
						"          Recovered_Change as integer,",
						"          Latitude as decimal(10,5),",
						"          Longitude as decimal(10,5),",
						"          ISO2 as string,",
						"          ISO3 as string,",
						"          Country_Region as string,",
						"          load_time as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> sqlMetricsPQ",
						"source(output(",
						"          ID as integer,",
						"          Updated as date,",
						"          Confirmed as integer,",
						"          Confirmed_Change as integer,",
						"          Deaths as integer,",
						"          Deaths_Change as integer,",
						"          Recovered as integer,",
						"          Recovered_Change as integer,",
						"          Latitude as decimal(10,5),",
						"          Longitude as decimal(10,5),",
						"          ISO2 as string,",
						"          ISO3 as string,",
						"          Country_Region as string,",
						"          load_time as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> vmMetricsPQ",
						"sqlMetricsPQ, vmMetricsPQ union(byName: true)~> unionCases",
						"unionCases select(mapColumn(",
						"          ID,",
						"          Updated,",
						"          Confirmed,",
						"          Confirmed_Change,",
						"          Country_Region",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectCases",
						"selectCases aggregate(groupBy(ID),",
						"     each(match(name!='ID'), $$ = first($$))) ~> selectDistinctRows",
						"selectDistinctRows sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     partitionFileNames:['cases.parquet'],",
						"     truncate: true,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> Cases"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SQL_Metrics_PQ')]",
				"[concat(variables('factoryId'), '/datasets/VM_Metrics_PQ')]",
				"[concat(variables('factoryId'), '/datasets/ODS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dates Data Flow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "SQL_Dates_PQ",
								"type": "DatasetReference"
							},
							"name": "sqlDatesPQ",
							"description": "grab date data from sql"
						},
						{
							"dataset": {
								"referenceName": "VM_Dates_PQ",
								"type": "DatasetReference"
							},
							"name": "vmDatesPQ",
							"description": "grab date data from vm"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ODS",
								"type": "DatasetReference"
							},
							"name": "Dates",
							"description": "dump data into dates collection"
						}
					],
					"transformations": [
						{
							"name": "selectDates"
						},
						{
							"name": "unionDates",
							"description": "Combining rows from transformation 'datesfromsql' and 'datesfromvm'"
						},
						{
							"name": "selectDistinctRows"
						}
					],
					"scriptLines": [
						"source(output(",
						"          DateKey as integer,",
						"          FullDate as date,",
						"          isWeekDay as boolean,",
						"          DayOfWeek as integer,",
						"          DayOfMonth as integer,",
						"          DayOfQuarter as integer,",
						"          DayOfYear as integer,",
						"          DayName as string,",
						"          WeekOfYear as integer,",
						"          WeekName as string,",
						"          MonthOfYear as integer,",
						"          MonthName as string,",
						"          CalendarQuarter as integer,",
						"          CalendarQuarterName as string,",
						"          CalendarYear as integer,",
						"          FiscalMonth as integer,",
						"          FiscalMonthName as string,",
						"          FiscalQuarter as integer,",
						"          FiscalQuarterName as string,",
						"          FiscalYear as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> sqlDatesPQ",
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> vmDatesPQ",
						"unionDates select(mapColumn(",
						"          FullDate,",
						"          isWeekDay,",
						"          DayName,",
						"          MonthName,",
						"          FiscalQuarterName",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectDates",
						"sqlDatesPQ, vmDatesPQ union(byName: true)~> unionDates",
						"selectDates aggregate(groupBy(FullDate),",
						"     each(match(name!='FullDate'), $$ = first($$))) ~> selectDistinctRows",
						"selectDistinctRows sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     partitionFileNames:['dates.parquet'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> Dates"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SQL_Dates_PQ')]",
				"[concat(variables('factoryId'), '/datasets/VM_Dates_PQ')]",
				"[concat(variables('factoryId'), '/datasets/ODS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Deaths Data Flow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "SQL_Metrics_PQ",
								"type": "DatasetReference"
							},
							"name": "sqlMetricsPQ"
						},
						{
							"dataset": {
								"referenceName": "VM_Metrics_PQ",
								"type": "DatasetReference"
							},
							"name": "vmMetricsPQ"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ODS",
								"type": "DatasetReference"
							},
							"name": "Deaths"
						}
					],
					"transformations": [
						{
							"name": "unionDeaths"
						},
						{
							"name": "selectDeaths"
						},
						{
							"name": "selectDistinctRows"
						}
					],
					"scriptLines": [
						"source(output(",
						"          ID as integer,",
						"          Updated as date,",
						"          Confirmed as integer,",
						"          Confirmed_Change as integer,",
						"          Deaths as integer,",
						"          Deaths_Change as integer,",
						"          Recovered as integer,",
						"          Recovered_Change as integer,",
						"          Latitude as decimal(10,5),",
						"          Longitude as decimal(10,5),",
						"          ISO2 as string,",
						"          ISO3 as string,",
						"          Country_Region as string,",
						"          load_time as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> sqlMetricsPQ",
						"source(output(",
						"          ID as integer,",
						"          Updated as date,",
						"          Confirmed as integer,",
						"          Confirmed_Change as integer,",
						"          Deaths as integer,",
						"          Deaths_Change as integer,",
						"          Recovered as integer,",
						"          Recovered_Change as integer,",
						"          Latitude as decimal(10,5),",
						"          Longitude as decimal(10,5),",
						"          ISO2 as string,",
						"          ISO3 as string,",
						"          Country_Region as string,",
						"          load_time as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> vmMetricsPQ",
						"sqlMetricsPQ, vmMetricsPQ union(byName: true)~> unionDeaths",
						"unionDeaths select(mapColumn(",
						"          ID,",
						"          Updated,",
						"          Deaths,",
						"          Deaths_Change,",
						"          Country_Region",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectDeaths",
						"selectDeaths aggregate(groupBy(ID),",
						"     each(match(name!='ID'), $$ = first($$))) ~> selectDistinctRows",
						"selectDistinctRows sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     partitionFileNames:['deaths.parquet'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> Deaths"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SQL_Metrics_PQ')]",
				"[concat(variables('factoryId'), '/datasets/VM_Metrics_PQ')]",
				"[concat(variables('factoryId'), '/datasets/ODS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Geography Data Flow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "SQL_Country_PQ",
								"type": "DatasetReference"
							},
							"name": "sqlCountryPQ"
						},
						{
							"dataset": {
								"referenceName": "VM_Country_PQ",
								"type": "DatasetReference"
							},
							"name": "vmCountryPQ"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ODS",
								"type": "DatasetReference"
							},
							"name": "Geography"
						}
					],
					"transformations": [
						{
							"name": "selectCountry"
						},
						{
							"name": "unionCountry"
						},
						{
							"name": "selectDistinctRows"
						}
					],
					"scriptLines": [
						"source(output(",
						"          Country as string,",
						"          CountryCode as string,",
						"          Latitude as decimal(10,5),",
						"          Longitude as decimal(10,5)",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> sqlCountryPQ",
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> vmCountryPQ",
						"unionCountry select(mapColumn(",
						"          Country,",
						"          Latitude,",
						"          Longitude",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectCountry",
						"sqlCountryPQ, vmCountryPQ union(byName: true)~> unionCountry",
						"selectCountry aggregate(groupBy(Country),",
						"     each(match(name!='Country'), $$ = first($$))) ~> selectDistinctRows",
						"selectDistinctRows sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     partitionFileNames:['geography.parquet'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> Geography"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SQL_Country_PQ')]",
				"[concat(variables('factoryId'), '/datasets/VM_Country_PQ')]",
				"[concat(variables('factoryId'), '/datasets/ODS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Policy Data Flow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Cosmos_Policy_PQ",
								"type": "DatasetReference"
							},
							"name": "policyCosmos",
							"description": "Grabbing Policy from Cosmos Parquet file"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ODS",
								"type": "DatasetReference"
							},
							"name": "Policies",
							"description": "Putting all of Policy data in Policy collection"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          CountryName as string,",
						"          Date as timestamp,",
						"          C1_School_closing as integer,",
						"          C1_Flag as integer,",
						"          C2_Workplace_closing as integer,",
						"          C2_Flag as integer,",
						"          C3_Cancel_public_events as integer,",
						"          C3_Flag as integer,",
						"          C4_Restrictions_on_gatherings as integer,",
						"          C4_Flag as integer,",
						"          C5_Close_public_transport as integer,",
						"          C5_Flag as integer,",
						"          C6_Stay_at_home_requirements as integer,",
						"          C6_Flag as integer,",
						"          C7_Restrictions_on_internal_movement as integer,",
						"          C7_Flag as integer,",
						"          C8_International_travel_controls as integer,",
						"          H1_Public_information_campaigns as integer,",
						"          H1_Flag as integer,",
						"          H2_Testing_policy as integer,",
						"          H3_Contact_tracing as integer,",
						"          H7_Vaccination_policy as integer,",
						"          H7_Flag as integer,",
						"          H8_Protection_of_elderly_people as integer,",
						"          H8_Flag as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> policyCosmos",
						"policyCosmos sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     partitionFileNames:['policies.parquet'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> Policies"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Cosmos_Policy_PQ')]",
				"[concat(variables('factoryId'), '/datasets/ODS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Population Data Flow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "SQL_Country_PQ",
								"type": "DatasetReference"
							},
							"name": "sqlCountryPQ"
						},
						{
							"dataset": {
								"referenceName": "VM_Country_PQ",
								"type": "DatasetReference"
							},
							"name": "vmCountryPQ"
						},
						{
							"dataset": {
								"referenceName": "Country_Population_Data",
								"type": "DatasetReference"
							},
							"name": "PopulationData"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ODS",
								"type": "DatasetReference"
							},
							"name": "Population"
						}
					],
					"transformations": [
						{
							"name": "selectCountry"
						},
						{
							"name": "unionCountry"
						},
						{
							"name": "selectDistinctRows"
						},
						{
							"name": "selectColumns"
						},
						{
							"name": "joinOnCountry"
						}
					],
					"scriptLines": [
						"source(output(",
						"          Country as string,",
						"          CountryCode as string,",
						"          Latitude as decimal(10,5),",
						"          Longitude as decimal(10,5)",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> sqlCountryPQ",
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> vmCountryPQ",
						"source(output(",
						"          Country as string,",
						"          Population as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> PopulationData",
						"unionCountry select(mapColumn(",
						"          Country,",
						"          Latitude,",
						"          Longitude",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectCountry",
						"sqlCountryPQ, vmCountryPQ union(byName: true)~> unionCountry",
						"selectCountry aggregate(groupBy(Country),",
						"     each(match(name!='Country'), $$ = first($$))) ~> selectDistinctRows",
						"joinOnCountry select(mapColumn(",
						"          Country = PopulationData@Country,",
						"          Population",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectColumns",
						"PopulationData, selectDistinctRows join(PopulationData@Country == selectDistinctRows@Country,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinOnCountry",
						"selectColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     partitionFileNames:['population.parquet'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> Population"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SQL_Country_PQ')]",
				"[concat(variables('factoryId'), '/datasets/VM_Country_PQ')]",
				"[concat(variables('factoryId'), '/datasets/Country_Population_Data')]",
				"[concat(variables('factoryId'), '/datasets/ODS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Recovery Data Flow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "SQL_Metrics_PQ",
								"type": "DatasetReference"
							},
							"name": "sqlMetricsPQ"
						},
						{
							"dataset": {
								"referenceName": "VM_Metrics_PQ",
								"type": "DatasetReference"
							},
							"name": "vmMetricsPQ"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ODS",
								"type": "DatasetReference"
							},
							"name": "Recoveries"
						}
					],
					"transformations": [
						{
							"name": "selectVM"
						},
						{
							"name": "selectSQL"
						},
						{
							"name": "unionRecoveries"
						},
						{
							"name": "selectDistinctRows"
						}
					],
					"scriptLines": [
						"source(output(",
						"          ID as integer,",
						"          Updated as date,",
						"          Confirmed as integer,",
						"          Confirmed_Change as integer,",
						"          Deaths as integer,",
						"          Deaths_Change as integer,",
						"          Recovered as integer,",
						"          Recovered_Change as integer,",
						"          Latitude as decimal(10,5),",
						"          Longitude as decimal(10,5),",
						"          ISO2 as string,",
						"          ISO3 as string,",
						"          Country_Region as string,",
						"          load_time as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> sqlMetricsPQ",
						"source(output(",
						"          ID as integer,",
						"          Updated as date,",
						"          Confirmed as integer,",
						"          Confirmed_Change as integer,",
						"          Deaths as integer,",
						"          Deaths_Change as integer,",
						"          Recovered as integer,",
						"          Recovered_Change as integer,",
						"          Latitude as decimal(10,5),",
						"          Longitude as decimal(10,5),",
						"          ISO2 as string,",
						"          ISO3 as string,",
						"          Country_Region as string,",
						"          load_time as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> vmMetricsPQ",
						"vmMetricsPQ select(mapColumn(",
						"          ID,",
						"          Updated,",
						"          Recovered,",
						"          Recovered_Change,",
						"          Country_Region",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectVM",
						"sqlMetricsPQ select(mapColumn(",
						"          ID,",
						"          Updated,",
						"          Recovered,",
						"          Recovered_Change,",
						"          Country_Region",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectSQL",
						"selectSQL, selectVM union(byName: false)~> unionRecoveries",
						"unionRecoveries aggregate(groupBy(ID),",
						"     each(match(name!='ID'), $$ = first($$))) ~> selectDistinctRows",
						"selectDistinctRows sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     partitionFileNames:['recoveries.parquet'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> Recoveries"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SQL_Metrics_PQ')]",
				"[concat(variables('factoryId'), '/datasets/VM_Metrics_PQ')]",
				"[concat(variables('factoryId'), '/datasets/ODS')]"
			]
		}
	]
}